*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    font-family:Arial,sans-serif;

    background:#f8f8f8;

    padding-top:80px;

}

.navbar{

    height:80px;

    background:white;

    display:flex;

    align-items:center;

    justify-content:center;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

    position:fixed;

    top:0;

    width:100%;

    z-index:1000;

}

.logo img{

    height:120px;

}

.back-btn{

    position:fixed;

    top:95px;

    left:20px;

    width:45px;

    height:45px;

    border-radius:50%;

    background:#ff7300;

    color:white;

    text-decoration:none;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:30px;

    transition:.25s;

    z-index:1500;

}

.back-btn:hover{

    transform:scale(1.1);

}

.back-btn:active{

    transform:scale(.9);

}

.contact{

    max-width:1000px;

    margin:80px auto;

    padding:20px;

    text-align:center;

}

.contact h1{

    font-size:42px;

    color:#222;

}

.subtitle{

    margin-top:15px;

    color:#666;

    font-size:18px;

}

/* Supprime le focus bleu */

*{

    -webkit-tap-highlight-color:transparent;

}

a,
button{

    outline:none;

}

a:focus,
a:focus-visible,
a:active,

button:focus,
button:focus-visible,
button:active{

    outline:none;

    box-shadow:none;

}